In [2]:
import pandas as pd
from pathlib import Path

In [3]:
annualfoodcpi = Path("Outside Resources/annualfoodcpi.csv")
snap = Path("Outside Resources/US SNAP Participants – US Census.csv")
unemployed = Path("Outside Resources/US Unemployment Percentages (BLS).csv")

In [4]:
annualfoodcpi_df = pd.read_csv(annualfoodcpi)
snap_df = pd.read_csv(snap)
unemployed_df = pd.read_csv(unemployed)

In [19]:
trends_df = pd.merge(annualfoodcpi_df, unemployed_df, how="left", on="Year")
trends_df.head()
trends_df.dropna(axis=1)

,Year,"Meats, Poultry, Fish, and Eggs",Fruits and Vegetables,Dairy and Related Product,Employment %
0,2020,265.173,304.944,228.322,56.8
1,2021,282.784,314.813,231.422,58.4
2,2022,313.667,341.668,259.184,60.0
3,2023,319.297,350.180,269.528,60.3
4,2024,326.254,352.801,268.876,60.1